.accordion-header {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* transition: 0.4s; */
}

.ac-active,
.accordion-header:hover {
    background-color: #ccc;
}

.accordion-header:after {
    /* content: '\002B'; */
    /* color: #777; */
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.ac-active {
    /* content: '\002B'; */
    color: white !important;
}

.ac-active:after {
    /* content: "\2212"; */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out; */
}

.accordion-header {
    background-color: rgba(51, 51, 51, 0.365);
    color: black;
}

.ac-active,
.accordion-header:hover {
    background-color: #333;
    color: white;
}

.ac-active .accordion-header:active {
    background-color: #ed1c24;
    color: white;
}

.accordion-ans {
    border: 1px solid;
    margin-top: -20px;
    padding: 15px;
}