// Custom StyleSheet for Bimbo Program

$primary: #a7242e;
$second: #2c447f;
$primary-alt: #d62e28;
$links: #3ef0ff;

body {
    font-family: 'Roboto', sans-serif;
}

// rev slider
@media only screen and (max-width: 479px) {
    #rev_slider_1_1_wrapper {
        display: none !important;
    }
}

@media only screen and (min-width: 480px) {
    #rev_slider_2_1_wrapper {
        display: none !important;
    }
}

.gyges.tp-bullets:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(102, 102, 102, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(102, 102, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(102, 102, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(119, 119, 119, 1) 0%, rgba(102, 102, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(119, 119, 119, 1) 0%, rgba(102, 102, 102, 1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr="rgba(119,119,119,1)", endcolorstr="rgba(102,102,102,1)", gradienttype=0);
    padding: 10px;
    margin-left: -10px;
    margin-top: -10px;
    box-sizing: content-box;
    border-radius: 10px
}

.gyges .tp-bullet {
    width: 12px;
    height: 12px;
    position: absolute;
    background: rgba(51, 51, 51, 1);
    border: 3px solid rgba(68, 68, 68, 1);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box
}

.gyges .tp-bullet:hover,
.gyges .tp-bullet.selected {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr="rgba(255,255,255,1)", endcolorstr="rgba(224,224,224,1)", gradienttype=0)
}

.gyges .tp-bullet-image {}

.gyges .tp-bullet-title {}


#home {
    .nav-wrap {
        background-color: $primary;
    }

    @media only screen and (min-width: 1200px) {
        .container-fluid {
            max-width: 1340px;
        }
    }
}

#participate.pages,
#support.pages {

    // background: $second url("../assets/pattern-light.png");
    // background-blend-mode: multiply;
    background-color: $second;
    color: #fff;

    .section-header {
        color: #fff;
    }

    h4 {
        color: #fff;
        font-size: 18px;
    }
}

#prizes.pages {
    background-color: $primary;
    color: #fff;

    .section-header {
        color: #fff;
    }

    h4 {
        color: #fff;
        font-size: 18px;
    }

}


.spacer {
    margin-top: 50px;
}

a {
    color: $links;

    &:hover {
        color: $primary;
    }
}

footer {
    background-color: $primary;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top: 5px solid $second;


    a {
        color: #fff;

        &:hover {
            color: #F26F70;
        }
    }

    h6 {
        color: #fff;
    }

    .social {
        a {
            color: #fff;
            font-size: 30px;

            &:hover {
                color: #000;
            }
        }
    }
}

.pages {
    background-color: $second;

    .section-header {
        color: #fff;
    }

    select {
        color: #fff;
        border-bottom: 4px solid #fff;
    }
}