body {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 479px) {
  #rev_slider_1_1_wrapper {
    display: none !important;
  }
}

@media only screen and (min-width: 480px) {
  #rev_slider_2_1_wrapper {
    display: none !important;
  }
}

.gyges.tp-bullets:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#666666));
  background: linear-gradient(to bottom, #777777 0%, #666666 100%);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startcolorstr="rgba(119,119,119,1)", endcolorstr="rgba(102,102,102,1)", gradienttype=0);
          filter: progid:dximagetransform.microsoft.gradient(startcolorstr="rgba(119,119,119,1)", endcolorstr="rgba(102,102,102,1)", gradienttype=0);
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 10px;
}

.gyges .tp-bullet {
  width: 12px;
  height: 12px;
  position: absolute;
  background: #333333;
  border: 3px solid #444444;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.gyges .tp-bullet:hover,
.gyges .tp-bullet.selected {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e0e0e0));
  background: linear-gradient(to bottom, white 0%, #e0e0e0 100%);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startcolorstr="rgba(255,255,255,1)", endcolorstr="rgba(224,224,224,1)", gradienttype=0);
          filter: progid:dximagetransform.microsoft.gradient(startcolorstr="rgba(255,255,255,1)", endcolorstr="rgba(224,224,224,1)", gradienttype=0);
}

#home .nav-wrap {
  background-color: #a7242e;
}

@media only screen and (min-width: 1200px) {
  #home .container-fluid {
    max-width: 1340px;
  }
}

#participate.pages,
#support.pages {
  background-color: #2c447f;
  color: #fff;
}

#participate.pages .section-header,
#support.pages .section-header {
  color: #fff;
}

#participate.pages h4,
#support.pages h4 {
  color: #fff;
  font-size: 18px;
}

#prizes.pages {
  background-color: #a7242e;
  color: #fff;
}

#prizes.pages .section-header {
  color: #fff;
}

#prizes.pages h4 {
  color: #fff;
  font-size: 18px;
}

.spacer {
  margin-top: 50px;
}

a {
  color: #3ef0ff;
}

a:hover {
  color: #a7242e;
}

footer {
  background-color: #a7242e;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top: 5px solid #2c447f;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #F26F70;
}

footer h6 {
  color: #fff;
}

footer .social a {
  color: #fff;
  font-size: 30px;
}

footer .social a:hover {
  color: #000;
}

.pages {
  background-color: #2c447f;
}

.pages .section-header {
  color: #fff;
}

.pages select {
  color: #fff;
  border-bottom: 4px solid #fff;
}
/*# sourceMappingURL=bimbo.css.map */