.faq-box {
    width: 100%;
    max-height: 200px;
    background-color: rgb(165, 165, 165);
    color: black;
    padding: 0.5em;
    transition: all .3s ease-out;
    text-align: left;
    margin-bottom: 15px;
}

.faq-box:hover {
    transform: translate(0, -5px);
    color: white;
    background-color: #333;
}