.receipt-upload-area {
    min-height: 300px;
    padding: 20px;
    margin: 80px auto 40px;
    margin-bottom: 20px;
    background-color: #e8e8e6;
    border: 1px solid #e3e3e3;
    width: 500px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .receipt-upload-area {
        min-height: 400px;
        width: 100%;
    }
}

.action-trigger .btn-main {
    /* width: 130px; */
    margin: 5px 10px 55px;
    border-radius: 5px;
}

.quform-submit-inner {
    margin-top: 25px;
}

.slotholder {
    transform: translate3d(0px, -1px, 0px) !important;
}

.space-y-t-footer {
    padding-top: 100px;
    position: relative;
    height: 100vh;
}

.space-y-t-footer+.main-footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.outer {
    display: block;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    margin-top: 15vh;
}

@media screen and (min-width: 300px) and (max-width: 1159px) {
    .outer {
        margin-top: 1vh;
    }
}

@media screen and (min-width: 300px) and (max-width: 1159px) {
    .outer {
        margin-top: 1vh;
    }

    .space-y-t-footer {
        height: 65vh;
    }

    .space-y-t-footer+.main-footer {
        position: relative;
    }
}

#terms {
    float: left;
    width: 18px;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
}

.txtMsg {
    color: red
}

#how h4 {
    text-transform: uppercase;
}

.carna-menu>li>button {
    padding: 0 14px;
    display: inline-block;
    height: 82px;
    line-height: 82px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    outline: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}

.carna-menu-mobile li button {
    width: 100%;
    padding: 12px 5px 12px 0;
    display: block;
    border-bottom: solid 1px #2f2f36;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    text-align: left;
}

@media only screen and (min-width: 993px) {
    .header-fill .carna-menu>li>a {
        /* color: white; */
    }
}

@media (max-width: 1159px) {
    .nav-wrap .logo-white {
        position: relative;
        /* height: auto; */
        padding: 2px 0px;
        /* margin-top: 2px; */
    }

    .forcefullwidth_wrapper_tp_banner {
        margin-top: 0px !important;
    }

    .section-header {
        margin-bottom: 50px;
        font-size: 23px;
    }

    .space-y-t {
        padding-top: 50px;
    }
}

.supportimg {
    display: inline-block;
    position: absolute;
    top: 19px;
}

@media only screen and (max-width: 1200px) {
    .supportimg {
        display: inline-block !important;
        position: absolute !important;
        top: 45px !important;
    }

    .topspace {
        top: 37px;
    }

    .bottomspace {
        position: relative;
        bottom: 0px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .mr {
        margin-left: 14px !important;
    }
}

.mt {
    margin-top: 30px !important;
}

.mb {
    margin-bottom: 30px !important;
}

@media only screen and (max-width: 1275px) {
    .off-canvas .carna-menu {
        float: right;
        margin-right: 20px;
        z-index: 9999;
        position: relative;
    }
}

@media screen and (max-width: 1150px) and (min-width: 1000px) {
    .header-space {
        padding-right: 45px;
    }
}

@media screen and (max-width: 1040px) {
    .carna-menu>li>a {
        padding: 0 20px 0 0 !important;
        font-size: 15px !important;
    }

    .carna-menu {
        padding-left: 3% !important;
    }
}

@media screen and (min-width: 993px) and (max-width: 1100px) {
    .carna-menu>li>a {
        padding: 0 17px 0 0 !important;
        font-size: 15px !important;
    }

    .carna-menu {
        padding-left: 3% !important;
    }
}

.justify p {
    text-align: justify;
}

.fa-big {
    font-size: 1em !important;
}

@media (max-width: 1159px) {

    .main-footer a,
    h6 {
        line-height: 16px;
        font-size: 14px;
        font-weight: normal;
    }
}

.section-header {
    color: black;
}

body {
    color: black;
}

h1 {
    color: rgb(143, 145, 147);
    font-size: 33.5px;
    font-weight: bold;
}

.pages,
.bg-pattern {
    background-image: url("");
    background-color: rgb(238, 237, 236);
}

.pages_lof,
.bg-pattern {
    background-image: url("");
    background-color: rgb(238, 237, 236) !important;
}

.item-description {
    padding: 96px 0;
    text-align: center;
    background-color: rgb(238, 237, 236) !important;
}

.space-y {
    padding-top: 50px;
    padding-bottom: 30px;
}

.mr {
    margin-right: 30px;
}

.ml {
    margin-left: 30px;
}

.bottomspace {
    position: relative;
    bottom: -17px;
}

.participateimg {
    position: absolute;
}

.whiteback {
    background-color: white;
}

.main-footer {
    /* background-color: rgb(94, 44, 128); */
    color: white;
    font-size: 10px;
    line-height: 12px;
    padding: 50px;
}

.space-t {
    padding-top: 25px;
}

.quform-element label {
    font-size: 18px;
    font-weight: bold;
}

.quform-select {
    margin-top: 26px;
}

.confirmtext {
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
}

.quform-element label .quform-required {
    font-size: 120% !important;
    color: #ee1c25;
    line-height: 12px;
    vertical-align: bottom;
}

.main-footer a,
h6 {
    padding: 0px 4px;
    font-weight: bold;
}

.carna-menu>li>a,
.smaller .carna-menu>li>a,
.is-fill .carna-menu>li>a {
    font-size: 15px;
    /* color: white; */
}

body {
    font-size: 18px !important;
}

.animsition-overlay {
    background-color: rgb(238, 237, 236) !important;
}

.cbp .faqimg,
.cbp-popup-singlePage .faqimg {
    width: 50%;
}

.cbp-popup-singlePage .cbp-popup-content {
    margin-top: 82px;
}

#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}

.img-full {
    text-align: center;
}

img {
    vertical-align: middle;
}

.cbp-popup-singlePage .faqline {
    background-color: rgb(238, 237, 236) !important;
}

.off-canvas .button-trigger {
    left: -20px;
}

.error {
    display: none
}

.help-block {
    color: red;
    display: none;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* //home link mouse hover */

@media (min-width: 993px) {

    .off-canvas .mm-button-band,
    .off-canvas .brand-band {
        position: absolute;
        width: 18%;
    }
}

@media (max-width: 1159px) {
    .nav-wrap.is-fixed {
        position: fixed;
    }
}

#hero {
    content: url('http://placehold.it/1980x1050')
}

@media (max-width: 778px) {
    #hero {
        content: url('http://placehold.it/778x1050')
    }
}

#prize {
    content: url('http://placehold.it/1740x500')
}

@media (max-width: 778px) {
    #prize {
        content: url('http://placehold.it/778x800')
    }
}

.btn-main:focus {
    background-color: #212121;
    border: 1px solid #191919;
    color: #fff;
    outline: 0;
}

.agree-text {
    text-transform: none !important;
    font-size: 18px !important;
    font-weight: normal !important;
}