table {
    border-collapse: separate;
    border-spacing: 0;
    color: black;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}

thead {
    background: #395870;
    background: #a7242e;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
}

th:last-child {
    border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}

tbody tr:nth-child(odd) {
    background: #2c447f;
}


td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}

td:first-child {
    border-left: 1px solid #cecfd5;
}

.book-title {
    color: #395870;
    display: block;
}

.text-offset {
    color: #7c7c80;
    font-size: 12px;
}

.item-stock,
.item-qty {
    text-align: center;
}

.item-price {
    text-align: right;
}

.item-multiple {
    display: block;
}

tfoot {
    text-align: right;
}

tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
    font-weight: bold;
}

tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}