<div class="bg-pattern news-item space-y">
    <div class="container no-gutter">
        <div class="row">
            <div class="col-md-10 col-md-offset-1  news-item__content text-center">
                <img src="http://placehold.it/1200x600">
                <time datetime="2015-04-26T12:04"> <span class="month-date">22</span> Nov<span class="year-date">2015</span></time>
                <h3>Can I receive multiple rewards?</h3>
                <div class="news-item__details text-justify">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, cumque dolorem quos eius a. Eum sit dolorem, doloremque eligendi asperiores deserunt unde mollitia quas, illo magnam libero eveniet distinctio enim!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel velit expedita odio commodi enim eos obcaecati quasi deleniti cupiditate! Cumque deserunt, explicabo eveniet! Quis assumenda, quod sunt dolores in vel , Lorem ipsum dolor
                        sit amet, consectetur adipisicing elit. Aperiam enim explicabo fugit officia hic, facilis magni saepe esse at beatae ipsa harum quas pariatur minima qui fugiat, assumenda reiciendis doloribus Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Sequi aspernatur sit, temporibus quod necessitatibus quidem odit accusamus nobis illo reiciendis, dolorum minima. A, labore omnis illum necessitatibus accusamus est incidunt.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis velit consequuntur odit mollitia iusto quasi, quam libero eveniet deserunt unde quaerat provident rem rerum sint neque minus odio accusantium, esse!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="main-footer space-y text-center">
    <div class="row">
        <h6 class="title-footer space-t">
            <a href="#" target="_blank">Program Terms & Conditions</a> |
            <a href="#" target="_blank">Sweepstakes Rules & Regulations</a>
        </h6>
        <h4 class="text-uppercase space-t title-footer">&copy; The Company name. All Rights Reserved.</h4>
        <h6 class="space-t title-footer">Powered by</h6><br>
        <a href="http://www.3tierlogic.com" target="_blank"><img src="images/3tl-home-logo.png"></a>
</footer>